<!--ion-view view-title="Login">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Usuário</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Senha</span>
        <input type="password">
      </label>
        <a href="#/tab/dash">home</a><button class="button button-block button-balanced">
          Login
        </button>
        <button href="#/tab/dash" class="button button-block button-assertive">
          Cancelar
        </button>
    </div>
  </ion-content>
</ion-view-->